* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 100%;
  
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root,
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-container {
  background-color: #333;
  color: #fff;
  padding: 20px 22px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* -----------------------------Register-------------------------------- */


.register-container {
  max-width: 400px;
  margin: 8rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.already-registered {
  margin-left: 5rem;
  margin-top: 10px;
}

.b-link {
  color: #0056b3;
}



/* --------------------------------Footer----------------------------- */


/* .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
} */

.main-content {
  flex: 1;
}

.footer {
  background-color: #141212;
  /* Optional: add a background color to the footer */
  padding: 1rem 0;
  /* Optional: add padding to the footer */
  text-align: center;
  /* Optional: center-align the text */
  color: #fff;
}

/* -------------------------------Table------------------------------- */


/* Table.css */
.table-container {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.btn {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-edit {
  background-color: #4CAF50;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

.btn-edit:hover {
  background-color: #45a049;
}

.btn-delete:hover {
  background-color: #d32f2f;
}

.add-btn {
  margin: 0 auto;
  color: #000000;
  background-color: rgb(130, 255, 211);
  border-radius: 10px;
  width: 130px;
  height: 50px;
  margin-top: 30px;
  font-size: 15px;
}

.add-btn:hover {
  background-color: rgb(95, 225, 180);
}

.form_error-message {
  background-color: #d32f2f;
  color: #fff;
  display: block;
}


/* ----------------------------Add employee modal------------------------- */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-bottom: 20px;
}

.modal form input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal form .btn {
  padding: 10px;
  margin: 10px 5px;
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
}

.btn-submit:hover {
  background-color: #45a049;
}

.btn-close {
  background-color: #f44336;
  color: white;
}

.btn-close:hover {
  background-color: #d32f2f;
}
